
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navigation"></header>
<main class="main">
    <div class="bg-white container align-content-center p-3">
        <h1>Error 401! Unauthorized</h1>
        <span>Sorry!</span>
        <span>You don't have permissions!</span>
        <img class="w-100" src="https://media.istockphoto.com/vectors/website-error-401-authorization-required-vector-id648691918">
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>