<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navigation"></header>
<main class="main">
    <div class="bg-white container align-content-center p-3">
        <h1>Oops!</h1>
        <span>Sorry!</span>
        <span>An unexpected problem occurred!</span>
        <img class="w-100" src="https://cdn.wallpapersafari.com/34/82/YRzXPk.jpeg">
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>