
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navigation"></header>
<main class="main">
    <div class="bg-white container align-content-center p-3">
        <h1>Error 404! Not Found</h1>
        <span>Sorry! Resource not found!</span>
        <img class="w-100" src="https://static.vecteezy.com/system/resources/previews/000/362/681/non_2x/vector-website-error-404-page-not-found.jpg">
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>