
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navigation"></header>
<main class="main">
    <div class="bg-white container align-content-center p-3">
        <h1>Error 400 :(</h1>
        <span>Sorry!</span>
        <span>You sent a bad request!</span>
        <img class="w-100" src="http://feedproxy.google.com/~r/ElegantThemes/~5/wzllhg6rRZw/000-HTTP-Error-400.png">
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>