<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">

</header>

<div class="jumbotron text-center">
    <div class="container text-light text-center">
        <h1 class="display-3"><strong class="bg-blur rounded">Towns</strong></h1>
    </div>
    <div class="row mt-3 mb-3 ">
        <div class="col-5 bg-blur rounded m-auto pb-3">
            <div th:each="t : ${towns}" th:object="${t}" class="mt-3 rounded badge-info p-3">
                <img class="mr-2" th:src="*{pictureUrl}"
                     width="50px" height="50px">
                <span class="p-3" th:text="*{name}">Name</span>
                <span class="p-3" th:text="*{description}">Description</span>
                <a class="ml-3 p-3 text-warning" th:href="@{/towns/{id}/details(id=*{id})}">View</a>


            </div>
           <button class="btn btn-info w-50"> <a class="ml-3 p-3 text-warning" th:href="@{/towns/add}">Add new town</a> </button>
        </div>

    </div>
</div>

<footer th:replace="fragments/fragment::footer">
</footer>
</body>
</html>