<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">

</header>

<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-4">
        <h1 class="fs-3 text-center my-0"><strong class="bg-blur rounded px-3 text-light py-2">Apartments</strong></h1>
    </div>
    <div class="row mt-2">
    <div class="bg-opacity-75 rounded m-auto align-content-center">
            <div th:each="a : ${myApartments}" th:object="${a}" class="col-8 m-auto rounded bg-success bg-opacity-50 p-3 ">
                <div class="d-flex flex-row justify-content-around">
                <img class="col-1 mr-2 rounded" th:src="*{picture}">
                <span class="my-auto text-center col-2 fs-5 text-white" th:text="*{name}">Name</span>
                <span class="my-auto text-center col-2 fs-5 text-white" th:text="*{address}">Address</span>
                <a class="my-auto text-center col-1 text-warning text-decoration-none fs-5" th:href="@{/apartments/{id}/details(id=*{id})}">View</a>
                </div>
        </div>
    </div>
    </div>
</div>

<footer th:replace="fragments/fragment::footer">
</footer>
</body>
</html>