<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">
</header>
<div class="jumbotron  min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-5">
        <h5 class="display-5 text-center my-0">
            <strong class="bg-blur rounded px-5 text-white py-1">
                Change your profile</strong></h5>
    </div>
    <div class="container bg-blur rounded p-5 mt-5 w-50">
        <form enctype="multipart/form-data" th:action="@{/users/profile/update}" th:method="PATCH" th:object="${userProfileBindingModel}"
               class=" text-center px-5 my-form">
            <div class="form-group row justify-content-center">
                <div class="col-sm-10">
                    <h2 class="justify-content-center mx-auto" th:text="|Username *{username}|"></h2>
                </div>
            </div>

            <div class="form-group row justify-content-center py-3">
                <label for="firstName" class="col-sm-3 col-form-label">Change First name</label>
                <div class="col-sm-9">
                    <input th:field="*{firstName}" th:errorclass="bg-danger" type="text" class=" mt-2 form-control" id="firstName"
                           aria-describedby="firstNameHelpInline" placeholder="First name">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="lastName" class="col-sm-3 col-form-label">Change Last name</label>
                <div class="col-sm-9">
                    <input th:field="*{lastName}" th:errorclass="bg-danger"  type="text" class="mt-2 form-control" id="lastName"
                           aria-describedby="lastNameHelpInline" placeholder="Last name">
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" id="lastNameHelpInline" class="bg-danger text-light rounded">
                        Last name length must be between 5 and 20 characters.
                    </small>
                </div>
            </div>
            <div class="form-group row justify-content-center py-3">
                <label for="phone" class="col-sm-3 col-form-label"> Change Phone</label>
                <div class="col-sm-9">
                    <input th:field="*{phone}" th:errorclass="bg-danger" type="text" min="5" max="12" class="mt-3 form-control"
                           placeholder="phone">
                    <small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"  id="phone" class="bg-danger text-light rounded">
                        Password length must be more than 3 characters long.
                    </small>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-10">
                    <h3 class="justify-content-center mx-auto" th:text="|User email is *{email}|"></h3>
                </div>
            </div>
            <img class="form-group row" th:src="*{profileImg}"
                 width="50px" height="50px">
            <div class="form-group justify-content-center">
                <div class="justify-content-center">
                    <label for="profileImg">Change your profile picture</label>
                    <input type="file" th:field="*{profileImg}"  class="form-control-file" id="profileImg">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3"></div>
            <button type="submit" class=" col-9 btn bg-info bg-opacity-50 text-white w-50 my-3">Update</button>
            </div>
        </form>
        <hr class="bg-light">
    </div>
</div>


<footer th:replace="fragments/fragment::footer">
</footer>


</body>
</html>