<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
    <header id="nav" th:replace="fragments/fragment::navigation">
    </header>

<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-4">
        <h5 class="fs-3 text-center my-0">
            <strong class="bg-blur rounded px-5 text-white py-1">
               Detailed information</strong></h5>
    </div>
    <div class="container bg-blur  rounded p-4 w-50" th:object="${userProfile}">
          <div class="form-group row justify-content-center">
                <div class="col-sm-2 col-form-label">
                    <img th:src="*{profileImg}" class="card-img"/>
                </div>
            </div>

        <div class="form-group row justify-content-center pt-2">
            <label class="col-sm-3 col-form-label text-center text-light ">Username</label>
            <div class="col-sm-9">
                <h2 type="text" readonly class="form-control-plaintext text-white bg-secondary bg-opacity-75 rounded px-2" th:text="*{username}"></h2>
            </div>
        </div>
            <div class="form-group row justify-content-center py-3">
                <label class="col-sm-3 col-form-label text-center text-light ">First name</label>
                <div class="col-sm-9">
                    <h2 type="text" class=" form-control " th:text="*{firstName}"></h2>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label text-center text-light ">Last name</label>
                <div class="col-sm-9">
                    <h2 type="text" class=" form-control " th:text="*{lastName}"></h2>
                </div>
            </div>
            <div class="form-group row justify-content-center py-3">
                <label class="col-sm-3 col-form-label text-center text-light ">Email</label>
                <div class="col-sm-9">
                    <h2 type="text" class=" form-control " th:text="*{email}"></h2>
                </div>
            </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-3 col-form-label text-center text-light ">Phone</label>
            <div class="col-sm-9">
                <h2 type="text" class=" form-control " th:text="*{phone}"></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"></div>
        <button class="col-9 btn bg-info bg-opacity-50 text-white w-50 my-3"><a class="text-light text-decoration-none fs-5" th:href="@{/users/profile/update}">Change your profile details</a></button>
        </div>
        <hr class="bg-light">
    </div>
</div>


<footer th:replace="fragments/fragment::footer">
</footer>


</body>
</html>