<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">
</header>
<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-4">
        <h5 class="fs-3 text-center my-0">
            <strong class="bg-blur rounded px-5 text-white py-1">
                Apartment name add new pictures</strong></h5>
    </div>
    <div class="container bg-blur bg-opacity-50 rounded p-5 mt-2 w-50">
        <form role="form" enctype="multipart/form-data" th:action="@{/pictures/add/{id}(id=${apartmentId})}"  th:method="POST" th:object="${pictureAddBindingModel}"
              class=" text-center text-light px-2 my-form">
            <div class="form-group row justify-content-center">
            <h5 class="fs-5 text-center my-0 py-2">
                <strong class="rounded px-5" th:text="|Apartment *{apartmentName} add new pictures|"></strong></h5>
            </div>
            <div class="form-group row justify-content-center">
            <h5 class="fs-5 text-center my-0 py-2">
                <strong class=" rounded px-5" th:text="|Owner *{username}|">
                   </strong></h5>
            </div>
            <div class="form-group row">
                <label for="picture" class="col-sm-2 col-form-label">Pictures</label>
                <div class="col-sm-9">
                    <!--th:field ="*{picture}" th:errorclass="bg-danger"-->
                    <input type="file" class="form-control" id="picture" name="picture" th:field="*{picture}"
                           aria-describedby="passwordHelpInline" placeholder="Put picture of your apartment here">
                    <!--           <input th:field ="*{pictures}" th:errorclass="bg-danger"  type="url" class="form-control" id="pictureBedroom"
                                      aria-describedby="passwordHelpInline" placeholder="Put picture of your bedroom here">-->
                    <small th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"  class="bg-danger text-light rounded">
                        At least one picture must be uploaded.
                    </small>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"></div>
                <button type="submit" class="mx-5 col-10 btn btn bg-info bg-opacity-50 text-white w-50 my-4 ">Add Picture</button>
            </div>
        </form>
        <hr class="bg-light">
    </div>
</div>

<footer th:replace="fragments/fragment::footer">

</footer>


</body>
</html>