<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">

</header>
<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-4">
        <h1 class="fs-3 text-center my-0"><strong class="bg-blur rounded px-3 text-light py-2">Reservation details</strong></h1>
    </div>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:object="${reservation}" class="offer card col-6 bg-success bg-opacity-50">
            <div class="card-body mx-5 row-flex d-flex text-center">
                <h5 class="card-title fs-5 text-center px-4 my-auto text-white" th:text="|Details reservation of *{username} to *{apartment.name}|">
                    Offer year Brand name Model name</h5>
                <div class="col-3 rounded">
                <img th:src="*{pictureUrl}" class="rounded" height="200 px" width="200 px">
                </div>
            </div>
            <div class="offer-details">
                <div class="list-group-item">
                    <div class="card-text"><span th:text="|Guest: *{guestName}|">Type</span></div>
                    <div class="card-text my-1"><span th:text="|ArrivalDate: *{arrivalDate}|">ArrivalDate</span></div>
                    <div class="card-text my-1"><span th:text="|DepartureDate: *{departureDate}|">DepartureDate</span></div>
                    <div class="card-text my-1"><span th:text="|Number of guests: *{numberOfGuests}|">Number of guests</span></div>
                    <div class="card-text my-1"><span th:text="|ReservedOn: *{reservedOn}|">ReservedOn</span></div>
                    <div class="card-text"><span th:text="|Price: *{price}|">Price</span></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <th:block th:if="*{canDelete}">
                        <form class="btn" th:action="@{/reservations/{id}/delete(id=*{id})}" th:method="delete">
                            <input type="submit" class="btn bg-warning text-primary bg-opacity-75 text-decoration-none" value="Delete"/>
                        </form>
                    </th:block>
                    <th:block th:unless="*{canDelete}">
                       <h5> The arrival date of reservation is too early, and it could not be deleted</h5>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/fragment::footer">
</footer>

</body>
</html>