<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">
</header>

<div class="jumbotron">
  <form th:action="@{/apartments/search}" th:method="POST" th:object="${searchBindingModel}" class=" text-center text-light px-5">
          <div class="label-holder text-white textCol d-flex justify-content-center">
              <label for="arrivalDate" class="h4 mb-2">Arrival Date</label>
          </div>
          <input th:field="*{arrivalDate}" th:errorclass="bg-danger" type="date" class="form-control" id="arrivalDate" name="arrivalDate"/>
          <small th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}">Arrival date error</small>

          <div class="label-holder text-white textCol d-flex justify-content-center">
              <label for="departureDate" class="h4 mb-2">Departure Date</label>
          </div>
          <input th:field="*{departureDate}" th:errorclass="bg-danger" type="date" class="form-control" id="departureDate" name="departureDate"/>
          <small th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}">Departure date error</small>

      <div class="form-group col-md-3 mb-3">
          <label for="town" class="text-black-50 font-weight-bold">Town</label>
          <select th:field="*{town}" id="town" class="form-control">
              <option value="">- Choose Town -</option>
              <option th:each="t: ${towns}"
                      th:value="${t.name}"
                      th:text="${t.name}"></option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary ml-5 w-50 text-center my-btn">Search</button>
      <div class="row">
          <div class="col col-md-4">
              <div class="button-holder d-flex">
                  <button  type="submit" class="btn btn-primary ml-5 w-50 text-center my-btn">Search</button>
              </div>
          </div>
      </div>
  </form>
    <div id="cardsList">
    </div>
</div>

<footer th:replace="fragments/fragment::footer">
</footer>
<!--<script src="/js/search.js"></script>-->
<!--<script src="/js/search.js"></script>-->
</body>
</html>