<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation" >
</header>
<main>
    <div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
        <div class="container-fluid ">
            <div class="container text-light text-center">
            <h2 class="fs-2 py-3">
                <strong class="bg-blur rounded text-light px-3">
                    Welcome to stats!</strong></h2>
            </div>
            <div class="row mx-xl-5 justify-content-center my-5">
         <h3 class="fs-4 text-white text-center my-2"> Total requests: <th:block th:text="${stats.getTotalRequests()}"> </th:block></h3>
            <h3 class="fs-4 text-white text-center my-2 "> Anonymous requests: <th:block th:text="${stats.getAnonymousRequests()}"> </th:block></h3>
            <h3 class="fs-4 text-white text-center my-2"> Authenticated requests: <th:block th:text="${stats.getAuthRequests()}"> </th:block></h3>
            <h3 class="fs-4 text-white text-center my-2"><th:block th:text="${reservations}"> </th:block></h3>
            <h3 class="fs-4 text-white text-center my-2"><th:block th:text="${apartments}"> </th:block></h3>
            </div>
        </div>
     </div>
</main>
<footer th:replace="fragments/fragment::footer">

</footer>

</body>
</html>