<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">
</header>
<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="container py-4">
        <h5 class="fs-3 text-center my-0">
            <strong class="bg-blur rounded px-5 text-white py-1">
               Update town</strong>
        </h5>
    </div>
        <div class="container bg-blur bg-opacity-50 rounded p-5 mt-2 w-50">
        <form role="form" enctype="multipart/form-data" th:action="@{/towns/{id}/update(id=${town.id})}"  th:method="patch" th:object="${town}"
              class="text-center text-light px-2 my-form">
            <div class="form-group row justify-content-center">
                <label for="name" class="col-sm-3 col-form-label">Town name</label>
                <div class="col-sm-9">
                    <input th:field="*{name}" th:errorclass="bg-danger" type="text" min="3" max="50" class="form-control" id="name"
                           aria-describedby="usernameHelpInline" placeholder="name">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameHelpInline" class="bg-danger text-light rounded">
                        Town name length must be between 5 and 20 characters.
                    </small>
                </div>
            </div>
            <div class="form-group row justify-content-center py-3">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <input th:field="*{description}" th:errorclass="bg-danger" type="text" min="3" max="50" class="form-control" id="description"
                           aria-describedby="apartmentTypeHelpInline" placeholder="Town description">
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="bg-danger text-light rounded">
                        Town description length must be minimum 5 characters.
                    </small>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="picture" class="col-sm-3 col-form-label">Picture</label>
                <div class="col-sm-9">
                    <!--th:field ="*{picture}" th:errorclass="bg-danger"-->
                    <input type="file" class="form-control" id="picture" name="picture" th:field="*{picture}"
                           aria-describedby="passwordHelpInline" placeholder="Put picture of your apartment here">
                    <!--           <input th:field ="*{pictures}" th:errorclass="bg-danger"  type="url" class="form-control" id="pictureBedroom"
                                      aria-describedby="passwordHelpInline" placeholder="Put picture of your bedroom here">-->
                    <small th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"  class="bg-danger text-light rounded">
                        At least one picture must be uploaded.
                    </small>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3"></div>
                <button type="submit" class=" col-9 btn btn bg-info bg-opacity-50 text-white w-50 my-4 ">Update Town</button>
            </div>

        </form>
        <hr class="bg-light">
        </div>
    </div>
</div>

<footer th:replace="fragments/fragment::footer">

</footer>


</body>
</html>