<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">

</head>
<body>
<header id="nav" th:replace="fragments/fragment::navigation">
</header>
<div class="container-fluid min-vh-100 bg-secondary bg-opacity-50">
    <div class="row text-center pt-2">
        <div class="container py-5">
            <h1 class="fs-3 text-center my-0"><strong class="bg-blur rounded px-3 text-light py-2">Details</strong></h1>
        </div>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:object="${town}" class="offer card col-sm-2 col-md-3  col-lg-6 bg-primary bg-opacity-25" >
            <div class="card-body my-2 p-0">
                <h5 class="card-title fs-4 text-white" th:text="|Town *{name}|"></h5>
            </div>
            <div class="card-text text px-5 fs-4 text-white"><span th:text="|Description: *{description}|"></span></div>
            <div class="offer card col-sm-4 col-md-4 mx-auto rounded col-lg-6 m-1 p-0 my-3">
                <img th:src="*{picture.url}" th:value="*{picture.publicId}" class="rounded"  alt="Apartment image">
            </div>
            <div class="card-body row flex-row justify-content-between">
                <div >
                    <th:block th:if="*{canUpdate}">
                        <a class="btn bg-warning  text-decoration-none text-primary fs-5 py-1" th:href="@{/towns/{id}/update(id=*{id})}">Update</a>
                    </th:block>
                        <th:block th:if="*{canDelete}">
                            <form class="btn mx-2" th:action="@{/towns/{id}/delete(id=*{id})}" th:method="delete">
                                <input type="submit" class="btn btn-warning text-decoration-none text-primary py-0 fs-4" value="Delete"/>
                            </form>
                    </th:block>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<footer th:replace="fragments/fragment::footer">
</footer>

</body>
</html>